<section class="mt-5">
    <div class="container mt-5 mb-5 bg-theme">
        <h1 class="text-white text-center">Terms And Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, doloribus consectetur quia architecto eveniet quod maiores distinctio culpa nobis iste impedit earum animi et, eum ad at, aliquid ducimus dignissimos.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam maxime assumenda explicabo, odio rem doloremque quod perspiciatis eveniet deleniti autem molestiae, ut quia aperiam. Maiores commodi asperiores corrupti quis vero?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur iste enim neque numquam optio quaerat provident inventore, quis sint ducimus, sapiente necessitatibus incidunt est facere porro? Nobis reprehenderit odio optio!</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>

