<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">Fratured Posts</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis culpa beatae dolorem, nemo, eaque eius optio sint, cum provident exercitationem quibusdam? Ipsa natus illo nobis laboriosam dolore molestiae placeat alias.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>
<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Post</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sint officiis a consectetur, vel aperiam officia. Exercitationem numquam veniam dolorem, libero dolor perferendis laboriosam excepturi consequuntur rerum, placeat incidunt blanditiis.</p>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>
