<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://t4.ftcdn.net/jpg/00/53/64/49/360_F_53644926_0mvUCIxCCTvIa7BAIFuUa3xsaNA9lbeb.jpg">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-2">Featured</small>
                    <small class="bg-light text-info text-center ml-2">Views - 100,256</small>
                    <small class="bg-light text-warning text-center ml-2">LAST UPDATED - DEC 15, 2023</small>


                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY </h1>
                    <P>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum suscipit expedita vero? Dolorem esse iusto quis totam voluptates maiores temporibus debitis possimus iure tempora assumenda sequi cum, voluptate dignissimos magnam?


                        Heading 1
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore cupiditate provident recusandae illum error alias distinctio. Doloremque, nostrum doloribus blanditiis repellat enim ullam ducimus culpa debitis rerum nobis labore ipsum?


                        Heading 2
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere qui voluptates dolorum incidunt fugit earum minus ratione! Debitis ipsa fugit nulla dicta voluptatem est pariatur asperiores velit dignissimos, repudiandae perspiciatis.
                    </P>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
