<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/954583/pexels-photo-954583.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Desgin</small>
        <small class="bg-light text-danger text-center ml-3">Featured</small>
        <small class="bg-light text-danger text-center ml-3">Views - 100, 256</small>

        <h5 class="mt-1">How Start A BLOG IN 2023 EDITED NEW CATEGORY</h5>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nulla quasi quam dolore vitae deleniti deserunt sint laudantium, eligendi, amet minus aspernatur explicabo eaque. Veniam earum aliquam eos laboriosam sunt.</P>

        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - DEC 14, 2023</small>
    </div>
</div>
